{% load static %}
{% load cache %}
<div class="overflow-x-auto mb-16">
	<table class="table">
		<thead>
			<tr class="text-3xl font-extrabold text-black">
				<th>Problem ID</th>
				<th>Title</th>
				<th>Solved</th>
			</tr>
		</thead>
		<tbody>
		{% for problem in page_obj.object_list %}
			<tr class="text-2xl font-medium text-gray-700">
				<td class="items-center gap-4">
					<span class="float-left">
						<img class="w-8 mr-4" src="{% static problem.badge_asset_path %}"/>
					</span> 
					<a href="https://www.acmicpc.net/problem/{{ problem.problem_number }}">
						<b>{{ problem.problem_number }}</b>
					</a>
				</td>
				<td>
					<div class="py-2">
						<a href="https://www.acmicpc.net/problem/{{ problem.problem_number }}">
							{{ problem.title }}
						</a>
					</div>
					<div class="pb-2">
						{% cache 86400 problem.problem_number %}
							{% include "leaderboard/components/tag_cloud.html" with tags=problem.tag_names %}
						{% endcache %}
					</div>
				</td>
				<td><b>{{ problem.solved_count }}</b> of {{ problem.submission_count }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if not page_obj.object_list %}
		<div class="hero min-h-screen bg-gray-200 mt-12 rounded-lg">
		  <div class="hero-content text-center">
			<div class="max-w-md">
			  <h1 class="text-4xl font-bold">데이터 없음</h1>
			  <p class="py-6">백그라운드에서 데이터를 로딩 중입니다. 데이터가 전부 로딩될 때까지 잠시만 기다려주세요</p>
			</div>
		  </div>
		</div>
	{% endif %}
</div>
