<div class="pb-12 flex justify-between">
	<div>
	</div>
	<div class="flex gap-4">
		{#% filter for sovledac tier %#}
		<a 
			href="?{% if 'tier_asc' in query.order_by %}order_by=tier_desc{% else %}order_by=tier_asc{% endif %}"
		>
			<div 
				class="
					btn
					border-2
					border-transparent
					{% if 'tier' in query.order_by %}
						border-teal-500 bg-teal-400 text-white hover:bg-teal-300
					{% else %}
						text-teal-500 bg-transparent border-gray-200 hover:bg-teal-100
					{% endif %}	
					text-lg
					shadow-lg
				"
			>
				AC tier
				
				{% if 'tier' in query.order_by %}
					<span class="block text-white">
					{% if 'desc' in query.order_by %}
						{% include 'leaderboard/components/caret_down_icon.html' %}
					{% else %}
						{% include 'leaderboard/components/caret_up_icon.html' %}
					{% endif %}
					</span>
				{% endif %}
			</div>
		</a>

		{#% filter for number of accepted users %#}
		<a 
			href="?{% if 'solved_count_desc' in query.order_by %}order_by=solved_count_asc{% else %}order_by=solved_count_desc{% endif %}"
		>
			<div 
				class="
					btn
					border-2
					{% if 'solved_count' in query.order_by %}
						border-teal-500 bg-teal-400 text-white hover:bg-teal-300
					{% else %}
						text-teal-500 bg-transparent border-gray-200 hover:bg-teal-100
					{% endif %}	
					text-lg
					shadow-lg
				"
			>
				# of Accepted
				
				{% if 'solved_count' in query.order_by %}
					<span class="block text-white">
					{% if 'desc' in query.order_by %}
						{% include 'leaderboard/components/caret_down_icon.html' %}
					{% else %}
						{% include 'leaderboard/components/caret_up_icon.html' %}
					{% endif %}
					</span>
				{% endif %}
			</div>
		</a>

		{#% filter for number of submission %#}
		<a
			href="?{% if 'submission_count_desc' in query.order_by %}order_by=submission_count_asc{% else %}order_by=submission_count_desc{% endif %}"
		>
			<div 
				class="
					btn
					border-2
					{% if 'submission_count' in query.order_by %}
						border-teal-500 bg-teal-400 text-white hover:bg-teal-300
					{% else %}
						text-teal-500 bg-transparent border-gray-200 hover:bg-teal-100
					{% endif %}	
					text-lg
					shadow-lg
				"
			>
				# of Submission
				
				{% if 'submission_count' in query.order_by %}
					<span class="block text-white">
					{% if 'desc' in query.order_by %}
						{% include 'leaderboard/components/caret_down_icon.html' %}
					{% else %}
						{% include 'leaderboard/components/caret_up_icon.html' %}
					{% endif %}
					</span>
				{% endif %}
			</div>
		</a>
	</div>
</div>

<div id="spoiler-switch" style="display: flex; justify-content: flex-end;">
	<div class="form-control w-36">
	  <label class="label cursor-pointer">
		<span class="label-text text-lg mr-2">스포일러</span> 
		<input type="checkbox" class="toggle" x-model="spoilerOpen" />
	  </label>
	</div>
</div>
