<li class="list-none">
	<a 
		class="block w-72 my-2 px-8 py-6 text-black text-bold text-3xl rounded-2xl bg-teal-200 border-2 border-teal-500 font-bold text-center cursor-pointer hover:bg-teal-100"
		href="{{ url('school-leaderboard', kwargs={"school": school}) }}"
	>
		{{ label }}
	</a>
</li>
