{% extends "codename_240_theme/base.html" %}

{% block content %}
	<div x-data="{ spoilerOpen: $persist(true) }" class="pt-20 pb-24">
		{% include "leaderboard/components/leaderboard_pagination.html" with filter=filter %}

		{% include "leaderboard/components/leaderboard_filter.html" with query=query %}

		{% include "leaderboard/components/leaderboard_table.html" with page_obj=page_obj %}

		{% include "leaderboard/components/leaderboard_pagination.html" with filter=filter %}
	</div>

{% endblock %}
